img {
    width: 300px;
}
body {
    background-color: #5f9659;
    font-family: Arial, sans-serif;
    text-align: center;
    color:rgb(255, 255, 255);
    .fun-fact-button {
        background-color: yellow;
        padding: 12px 20px;
        color: black;
        font-size: 30px;
        border: 3px solid rgb(208, 255, 0);
        border-radius: 30px;




    }
}