body {
    background-color: #5f9659;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
}

img {
    width: 300px;
}

/* Button styling */
.fun-btn {
    background-color: yellow;
    padding: 12px 20px;
    color: black;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 0 #1f3f1d;
    transition: all 0.1s ease;
}

.fun-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #1f3f1d;
}

/* Popup overlay */
.popup {
    display: none;  /* hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popup box */
.popup-box {
    background: white;
    color: black;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}