html, body {
    height: 125%;       /* lets you scroll a bit, avoids white bar */
}

body {
    background-image: url("images/jungle.jpg");
    background-size: cover;
    background-position: center bottom;  /* anchor to bottom */
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 20px;
}

img {
    width: 300px;
}

.main-content {
  display: flex;
  flex-direction: column;   /* stack vertically */
  align-items: center;      /* center horizontally */
  gap: 20px;                /* space between items */
}

.text-overlay {
  background: rgba(0,0,0,0.5);
  padding: 20px 30px;
  border-radius: 20px;
  color: white;
  text-align: center;
  max-width: 90%;
}


/* Button styling */
.fun-btn {
    background-color: #c9a93d;
    padding: 12px 20px;
    color: black;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 0 #1f3f1d;
    transition: all 0.1s ease;
}

.fun-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #1f3f1d;
}

/* Popup overlay */
.popup {
    display: none;  /* hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

/* Popup box */
.popup-box {
    background:linear-gradient(135deg, #fff3a6, #ffe08a);
    color: #3b2f1b;
    padding: 30px 35px;
    border-radius: 35px;
    max-width: 420px;
    text-align: center;
    box-shadow: 0 12px 0 #c9a93d, 0 18px 30px rgba(0,0,0,0.25);
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.2s ease-out;
}

.popup.show .popup-box {
    transform: scale(1);
    opacity: 1;
}

#closeBtn {
    background: #ffcf33;
    color: #3b2f1b;
    border: none;

    padding: 10px 18px;
    border-radius: 20px;

    font-weight: bold;
    cursor: pointer;

    box-shadow: 0 5px 0 #c9a93d;
    transition: transform 0.1s, box-shadow 0.1s;
}

#closeBtn:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 #c9a93d;
}

/* CSS STUFF FOR THE GALLERY PAGE*/

.main-content {
  text-align: center;
  padding: 20px;
}

.carousel {
  width: 375px;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  transition: transform 0.8s ease;
}

.fun-btn {
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}

.nav-btn {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
}

@keyframes popIn {
    to {
        transform: scale(1);
        opacity: 1;
    }
}